/* Definimos las variables globales */
:root {
    --container-width: 50%;
    --container-height: 70%;
    --margen-izquierda: 50px;
    
}


body {
    background: linear-gradient(135deg, #2d4187, #6a8bce);
    background-size: 400% 400%, 300px 300px;
    resize: none;
    animation: gradientAnimation 15s ease infinite;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: var(--container-width);
    height: var(--container-height);
    min-width: 450px !important;
    min-height: 600px !important;
    display: flex;
    border-radius: 30px !important;
    flex-direction: row;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px;
    z-index: 10;
    flex-shrink: 0;
}

.form {
    font-family: 'Arial', sans-serif;
    width: 50%;
    height: 100%;
    background: rgba(12, 85, 70, 0.75);
    flex-direction: column;
    display: flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    position: relative;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.head-form{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 20%;
    background: transparent;

}

.radio-inputs {
    position: relative;
    width: 35%;
    height: 40px;
    margin: 10px 30px 0 auto;
    display: flex;
    border-radius: 30px;
    color: white;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer !important;
    padding: 0.25rem;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

    .radio-inputs .radio {
        flex: 1 1 auto;
        text-align: center;
    }

        .radio-inputs .radio input {
            display: none;
        }

        .radio-inputs .radio .name {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer !important;
            border-radius: 30px;
            border: none;
            padding: 0.5rem 0;
            color: rgb(255, 255, 255);
            transition: all 0.15s ease-in-out;
        }

        .radio-inputs .radio input:checked + .name {
            background-color: #fff;
            color: rgb(0, 0, 0);
            font-weight: 600;
            cursor: pointer !important;
        }

.text-head {
    display: flex;
    color: silver;
    width: 100%;
    height: calc(100% - 40px);
    padding: 50px 0 0 var(--margen-izquierda);
    gap: 10px;
}

.line-below {
    position: relative;
}

    .line-below::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: silver;
        position: absolute;
        bottom: -5px;
        left: 0;
    }

label {
    cursor: pointer !important;
}

label,
span {
    cursor: default !important;
}

    span.texth,
    span.textc {
        font-size: 150%;
    }

/*Estilos del formulario*/
.body-form{
    display: flex;
    flex-direction: column; 
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    height: 80%;
     box-sizing: border-box; /*asegura que no se expanda el div */
    background: transparent;

}

.formulario {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition:all 0.5s ease-in-out;
}

    .ingreso > .signin-form > .form-group {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-block: 0;
        padding-inline: 50px;
    }

.form-text {
    color: silver;
    font-size: 13px;
    margin-block: 10px;
}

.signin-form {
    width: 100%;
}

.form-control {
    color: white;
    border: none;
    border-bottom: none;
    position: relative;
    padding: 5px 0;
    margin: 0;
    width: 60%;
    box-sizing: border-box;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    margin-inline: 50px;
    /* Padding lateral */
    outline: none;
    /* Elimina el borde de enfoque por defecto */
    margin-right: 50px;
    margin-block-end: 10px;
}

    /* Estilo para la l�nea debajo del input */
    .form-control::after {
        content: '';
        left: 0;
        display: block;
        position: absolute;
        bottom: 0;
        border-bottom: none;
        border-bottom: 2px solid #ccc;
        pointer-events: none;
    }

    /* Estilo para el placeholder */
    .form-control::placeholder {
        color: white;
        font-size: 11px;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

.field-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 90px;
    top: 50%;
    transform: translateY(150%);
    cursor: pointer !important;
    color: #ccc;
}

.ingreso > .signin-form > .form-group:nth-of-type(3) > .field-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 90px;
    top: 50%;
    transform: translateY(500%);
    cursor: pointer !important;
    color: #ccc;
}

.text-extra {
    margin-top: 15px;
    margin-left: 50px;
    font-size: 10px;
    width: 100%;
    color: silver;
    cursor: pointer !important;
}

.ingreso > .signin-form > .form-group:nth-of-type(5) {
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    width: 100%;
    height: 30%;
    margin-left: 10%;
}

.ingreso > .signin-form > .form-group > .form-button:nth-of-type(1) {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 40px;
    margin-left: 10%;
}

.form-button {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 30%;
    height: 40px; /* Ajustado para un tama�o m�s est�ndar */
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde con opacidad blanca */
    text-transform: uppercase;
    color: #fff; /* Texto blanco para contraste */
    overflow: hidden;
    background: rgba(61, 106, 255, 0.8); /* Fondo del bot�n con opacidad */
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
}

    .form-button:hover {
        background: rgba(61, 106, 255, 1); /* Fondo s�lido en hover */
        box-shadow: 0 0 30px 5px rgba(61, 106, 255, 0.5); /* Sombra con el color del bot�n */
    }

        .form-button:hover::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
        }

    .form-button::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.form-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


/*TOOLTIP*/

.fa-circle-question {
    position: absolute;
    right: 55px; /* Ajusta la distancia del borde derecho seg�n sea necesario */
    top: 43%;
    transform: translateY(10%);
    font-size: 20px;
    color: #007bff; /* Color del icono */
    cursor: pointer;
}

 .info-tooltip {
    display: none;
    position: absolute;
    right: 40px; /* Ajusta la posici�n del tooltip */
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    width: max-content;
}

.form-group .fa-circle-question:hover + .info-tooltip {
    display: block;
}
/*FIN TOOLTIP*/


/***************************Dimensiones para pantallas*****************************/



@media (min-width: 500px) and (max-width: 900px) { 
    :root {
        --container-width:80%;
        --container-height: 90%;
    }
    .form {
        width: 100%;
        height: 100%;
    }
 }

 @media (min-width: 900px) and (max-width: 1200px) { 
    :root {
        --container-width: 70%;
        --container-height: 80%;
    }
 }

  @media (min-width: 1201px) { 
    :root {
        --container-width: 60%;
        --container-height: 70%;
    }

 }


/* @media (min-width: 500px) and (max-width: 900px) {
    .contenedor {
        width: 400px;
        height: 600px;
        margin: 0;
        padding: 0;
        border-radius: 20px;
        background-color: transparent;
    }

    .logo {
        display: none;
    }

    .formularios {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin: 0;
        padding: 0;
        top: 0;
        left: -5%;
    }

    .field-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0px;
        top: 55%;
        transform: translateX(-450%);
    }
} */

/*Registro*/
.d-none {
    display: none !important;
}

.registro > .signin-form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

    /* Asegura que cada form-group se comporte como una fila de subgrupos */
    .registro > .signin-form > .form-group {
        flex: 1 1 100%;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-inline: 40px;
    }


            .registro > .signin-form > .form-group > .form-control::after {
                width: 20%;
            }


        .registro > .signin-form > .form-group {
            flex-direction: row;
            padding-inline: 40px;
        }

            .registro > .signin-form > .form-group > .form-subgroup{
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-block: 5px;
                padding-inline: 10px; 
            }

            /* Estilos para los form-subgroup dentro del segundo form-group */
            .registro > .signin-form > .form-group > .form-subgroup > .form-control {
                width: 80%;
                padding-inline: 10px;
            }

                /* Estilos para los form-subgroup dentro del segundo form-group */
                .registro > .signin-form > .form-group > .form-subgroup > .form-control::after {
                    padding-inline: 100px;
                    width: 40%;
                }

        /* Estilo para los inputs dentro de form-subgroup */
        .registro > .signin-form > .form-group > .form-subgroup > .form-control {
            color: white;
            border: none;
            border-bottom: none;
            position: initial;
            padding: 5px 0;
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 2px solid #ccc;
            background-color: transparent;
            outline: none;
            margin-block-end: 10px;
        }

            .registro > .signin-form > .form-group:nth-of-type(3) > .form-subgroup:nth-of-type(1) > .field-icon {
                position: absolute;
                width: 20px;
                height: 20px;
                right: 244px;
                top: 50%;
                transform: translateY(700%);
                cursor: pointer !important;
                color: #ccc;
            }

            .registro > .signin-form > .form-group:nth-of-type(3) > .form-subgroup:nth-of-type(2) > .field-icon {
                position: absolute;
                width: 20px;
                height: 20px;
                right: 60px;
                top: 50%;
                transform: translateY(700%);
                cursor: pointer !important;
                color: #ccc;
            }

    .registro > .signin-form > .form-button {
        margin-left: 30%;
    }

select, option {
color : white;
}