<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/14cfd73b7f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/CSS/Home _Trabajador.css">
</head>

<body>
    <div class="contenedor">
        <section class="head-area">
            <div class="title-text">
                <div class="title"><h2 class="">Dashboard</h2></div>
                <div id="contadorInactividad" class="title-inactivity">
                    <span id="tiempoRestante">Tiempo de cierre por inactividad: 03:00</span>
                </div>
            </div>

            <hr>
        </section>
        <section class="body-area">
            <div class="responsable">
                <h1> Datos del responsable</h1>
                <div class="row">
                    <div class="form-subgroup col-2">
                        <span class="form-text">USUARIO</span>
                        <input id="NombreUsuario" type="text" class="form-control" placeholder="" readonly>
                    </div>
                    <div class="form-subgroup col-3">
                        <span class="form-text">NOMBRE USUARIO</span>
                        <input id="NombreUsuario" type="text" class="form-control" placeholder="" readonly>
                    </div>
                    <div class="form-subgroup col-2">
                        <span class="form-text">AREA</span>
                        <input id="NombreUsuario" type="text" class="form-control" placeholder="" readonly>
                    </div>
                    <div class="form-subgroup col-2">
                        <span class="form-text">SECCION</span>
                        <input id="NombreUsuario" type="text" class="form-control" placeholder="" readonly>
                    </div>
                </div>

            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-aqua" id="dImpresorasfront"><i class="bi bi-printer"></i></div>
                                <div class="info-box-content">
                                    <span class="info-box-text">Impresoras</span>
                                    <span class="info-box-number" id="cantImpresoras">4</span>
                                    <span class="info-box-text">Marcas</span>
                                    <span class="info-box-number" id="cantImpresoras">5</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-aqua" id="dImpresorasback">Detalles</div>
                                <div class="info-box-content">
                                    <div class="row">
                                        <span class="info-box-text col-6">Codigo PF</span>
                                        <span class="info-box-number col-2" id="CodigoPFI">4</span>
                                        <span class="info-box-text col-6">Marca</span>
                                        <span class="info-box-number col-2" id="MarcaI">5</span>
                                        <span class="info-box-text col-6">Estado</span>
                                        <span class="info-box-number col-2" id="EstadoI">5</span>
                                        <span class="info-box-text col-6">Codigo Tinta</span>
                                        <span class="info-box-number col-2" id="CodigoTintaI">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-yellow" id="dLaptopfront"><i class="bi bi-laptop"></i></div>
                                <div class="info-box-content">
                                    <span class="info-box-text">Laptop</span>
                                    <span class="info-box-number" id="cantImpresoras">4</span>
                                    <span class="info-box-text">Marcas</span>
                                    <span class="info-box-number" id="cantImpresoras">5</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-yellow" id="dLaptopback">Detalles</div>
                                <div class="info-box-content">
                                    <div class="row">
                                        <span class="info-box-text col-6">Codigo PF</span>
                                        <span class="info-box-number col-2" id="CodigoPFL">4</span>
                                        <span class="info-box-text col-6">Marca</span>
                                        <span class="info-box-number col-2" id="MarcaL">5</span>
                                        <span class="info-box-text col-6">Procesador</span>
                                        <span class="info-box-number col-2" id="ProcesadorL">5</span>
                                        <span class="info-box-text col-6">RAM</span>
                                        <span class="info-box-number col-2" id="RAML">5</span>
                                        <span class="info-box-text col-6">SSD / HDD</span>
                                        <span class="info-box-number col-2" id="DiscoL">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-olive" id="dPCfront"><i class="bi bi-pc"></i></div>
                                <div class="info-box-content">
                                    <span class="info-box-text">CPU</span>
                                    <span class="info-box-number" id="cantImpresoras">4</span>
                                    <span class="info-box-text">Marcas</span>
                                    <span class="info-box-number" id="cantImpresoras">5</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="info-box">
                                <div data-href="/Registro/Equipos_Trabajador" class="info-box-icon bg-olive" id="dPCback">Detalles</div>
                                <div class="info-box-content">
                                    <div class="row">
                                        <span class="info-box-text col-6">Codigo PF</span>
                                        <span class="info-box-number col-2" id="CodigoPFP">4</span>
                                        <span class="info-box-text col-6">Marca</span>
                                        <span class="info-box-number col-2" id="MarcaP">5</span>
                                        <span class="info-box-text col-6">Procesador</span>
                                        <span class="info-box-number col-2" id="ProcesadorP">5</span>
                                        <span class="info-box-text col-6">RAM</span>
                                        <span class="info-box-number col-2" id="RAMP">5</span>
                                        <span class="info-box-text col-6">SSD / HDD</span>
                                        <span class="info-box-number col-2" id="DiscoP">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
    </div>


    <script>
  var urlListarAreas = '@Url.Action("ListarAreas", "Mantenimiento")';
  var urlObtenerAreasxId = '@Url.Action("ObtenerAreasxId", "Mantenimiento")';
  var urlAgregarAreas = '@Url.Action("AgregarAreas", "Mantenimiento")';
      var urlActivarAreasxID = '@Url.Action("ActivarAreasxID", "Mantenimiento")';
    </script>

    <!-- jQuery -->
    <script src="~/JS/Home/Home_Trabajador.js"></script>
    <script src="~/JS/Utils.js"></script>
</body>
</html>