@{
    ViewBag.Title = "Home Page";
}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="~/Image/PF_sinfondo.png" type="image/png">

    <title>Peru Fashions</title>

    <!--Boostrap-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/14cfd73b7f.js" crossorigin="anonymous"></script>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="~/CSS/Index.css">
    <title>Peru Fashions</title>


</head>
<body id="body-pd">
    <div class="container">
        <div class="menu" id="menu">
            <div class="logo">
                <div class="imagen">
                    <img id="imglogo" src="~/Image/PF_sinfondo.png">
                </div>
                <div class="logo-texto" id="txtlogo">
                    <p>Peru</p>
                    <p>fashions</p>
                </div>
            </div>
            @*<div class="submenu">
                <div class="hover-bg"></div>
                <div class="sub-head">
                    <div class="op-icono">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="op-texto">
                        <a href="/Mantenimiento/Areas" class="simple" id="mant-areas">Inicio</a>
                    </div>
                </div>
            </div>
            <div class="submenu">
                <div class="hover-bg"></div>
                <div class="sub-head">
                    <div class="op-icono">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="op-texto"><p>Inicio</p></div>
                </div>
                <div class="sub-body">
                    <div class="collapse-menu">
                        <a href="/Mantenimiento/Areas" class="collapse__sublink" id="mant-areas">Areas</a>
                        <a href="/Home/Error" class="collapse__sublink" id="mant-versiones">Versiones Licencias</a>
                    </div>
                </div>
            </div>*@
        </div>


        <div class="content-area" id="content-area">
            <!-- Aquí se cargará la vista -->
            <iframe id="content-iframe" class="content-iframe"></iframe>
        </div>

    </div>



    <!-- Mostrar alerta -->
    <div id="alertContainer"></div>

    <script>
        var urlListarMenu = '@Url.Action("ListarMenu", "Home")';
        var urlObtenerRol = '@Url.Action("ObtenerRol", "Home")';
        
    </script>



    <!-- ===== MAIN JS ===== -->
    <script src="~/JS/Index.js"></script>
    <script src="~/JS/Utils.js"></script>
    <script src="~/JS/Errores.js"></script>
</body>
</html>