<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/14cfd73b7f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/CSS/Global.css">
</head>

<body>
    <div class="contenedor">
        <section class="head-general">
            <div class="title-text">
                <div class="title"><h2 class="">Mantenimiento de Areas</h2></div>
                <div id="contadorInactividad" class="title-inactivity">
                    <span id="tiempoRestante">Tiempo de cierre por inactividad: 03:00</span>
                </div>
            </div>

            <hr>
        </section>
        <section class="body-general">
            <div class="row">
                <div class="box-header d-flex justify-content-between">
                    <!-- Menu de Botones -->
                    <div class="btn-group">
                        <button id="btnAgregar" data-bs-toggle="modal" data-bs-target="#Agregar" type="button" class="btn" title="Agregar">
                            <i class="icon fa-regular fa-square-plus"></i>
                        </button>
                        <button id="btnRefrescar" type="button" class="btn" title="Actualizar"><i class="icon fa fa-refresh"></i></button>
                    </div>
                    <div class="box-text">
                        <input type="text" class="form-control" placeholder="Buscar" id="txtBuscar">
                        <button type="button" id="btnBuscar" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 45%">Area</th>
                                <th style="width: 10%">Tipo</th>
                                <th class="text-center" style="width: 20%">Estado</th>
                                <th class="text-center" style="width: 20%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="grilla-area">
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn" id="btnAnterior"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn" id="btnSiguiente"><i class="fa fa-chevron-right"></i></button>
                        </div>

                        <span id="contadorRegistros"></span>
                    </div>
                </div>
            </div>

        </section>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="Agregar" tabindex="-1" aria-labelledby="AgregarAreaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/Image/ic_launcher_logo.png">
                    <h5 class="modal-title" id="AgregarAreaLabel">Agregar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="formAreas">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="area">Area</label>
                                        <input type="text" id="txtArea" name="area">
                                        <span class="d-none span-error" id="errorvacio">*Datos ingresados incorrectamente</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="tipos">Tipo</label>
                                        <select name="options" class="input" id="cmbTipo">
                                            <option value="0">Seleccione...</option>
                                            <option value="A">AREA</option>
                                            <option value="S">SECCION</option>
                                        </select>
                                        <span class="d-none span-error" id="errorvacio">*El dato seleccionado es incorrecto</span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="editId" name="id" value="0">
                            <div class="modal-footer">
                                <button type="button" class="btn-modal" id="btnGuardar">Guardar</button>
                                <button type="button" class="btn-modal" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cargando -->
    <div id="modalProcesando" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body d-flex align-items-center">
                    <img class="ima-pros" src="~/Image/PF_sinfondo.png" />
                    <span class="ml-4">Procesando...</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Mostrar alerta -->
    <div id="alertContainer"></div>

    <!-- Botones para editar y eliminar (ocultos) -->
    <div id="templates" style="display: none;">
        <button class="btn  btneditar" data-id="" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button>
        <button class="btn  btndesactivar" data-id="" title="Desactivar"><i class="fa-solid fa-toggle-off"></i></button>
        <button class="btn  btn-succes  btnactivar" data-id="" title="Activar"><i class="fa-solid fa-toggle-on"></i></button>
    </div>




    <script>
  var urlListarAreas = '@Url.Action("ListarAreas", "Mantenimiento")';
  var urlObtenerAreasxId = '@Url.Action("ObtenerAreasxId", "Mantenimiento")';
  var urlAgregarAreas = '@Url.Action("AgregarAreas", "Mantenimiento")';
      var urlActivarAreasxID = '@Url.Action("ActivarAreasxID", "Mantenimiento")';
    </script>

    <!-- jQuery -->
    <script src="~/JS/Mantenimiento/Areas.js"></script>
    <script src="~/JS/Utils.js"></script>
    <script src="~/JS/Errores.js"></script>
</body>